.loader{
    // background-color: rgba(0, 0, 0, 0.7);
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: 100vw;
    // height: 100vh;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}